@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes spin-coin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
.group:hover .spins-coin {
    animation: spin-coin 1s ease-out;
}
